<div class="col-lg-8 col-md-12 mx-auto">
  <div class="row p-3 flex-container">
    <div class="col-lg col-md-8 d-flex flex-column primary-dark text-bold">
      <div class="display-4"><strong><%= @movie.title %></strong></div>
      <div class="d-flex justify-content-start">
        <div class="text-muted mx-3"><%= @movie.release_date.year %></div>
        <div class="text-muted mx-3"><%= @movie.category.category %></div>
        <div class="text-muted mx-3"><%= @movie.movie_detail.runtime %></div>
      </div>
    </div>
    <div class="col-lg col-md-4 d-flex flex-column justify-content-end text-lg-right text-md-left">
      <div><h4>RATING</h4></div>
      <div>
        <span><i class="fa fa-star fa-2x" style="color: #FFD700;"></i></span>
        <span class="mx-3" style="font-size: 30px"><strong style="font-size: 30px"><%= @movie.rating %></strong><span class="text-muted">/10</span></span>
      </div>
    </div>
  </div>

  <div class="row p-3 media">
    <div class="col-lg-3 col-md-12 poster">
      <% if !@movie.photos.first.nil? and !@movie.photos.first.img_url.include? "imdb" %>
          <%= image_tag @movie.photos.first.img_url, class: "rounded", style: "width: 90%; height: 345px;" %>
        <% else %>
          <%= image_tag "https://fullygarage.com/wp-content/uploads/2018/02/Arjun-Reddy-Movie-Printed-Poster-scaled.jpg", class: "rounded", style: "width: 90%; height: 345px;" %>
        <% end %>
    </div>
    <div class="col-lg-9 col-md-12 trailer" style="width:100%;height:345px">
      <iframe width="100%" height="343px" src="<%= @movie.trailer_link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-info"><h3> Genres </h3></div>
    <div class="col-lg-12 d-flex flex-row justify-content-start">
      <% @movie.movie_genres.each do |g| %>
        <span class="mx-5" style="font-size: 23px;"><%= g.genre.genre_type %></span>
      <%end%>
    </div>
  </div>
  <div class="row col-lg-12">
    <div class="col-lg-12 text-info"><h3> Cast </h3></div>
    <div class="col-lg-12 d-flex flex-column">
    <% @movie.movie_casts.each do |m| %>
      <div class="mx-3">
        <span class="mx-3" style="font-size: 23px;"><%= m.role_name %>:</span>
        <span class="mx-1" style="font-size: 23px;"><%= m.cast_crew_detail.name %></span>
      </div>
      <%end%>
    </div>
  <div>
  <div class="row col-lg-12">
    <div class="col-lg-12 text-info"><h3> Crew </h3></div>
    <div class="col-lg-12 d-flex flex-column">
    <% @movie.movie_crews.each do |m| %>
      <div class="mx-3">
        <span class="mx-3" style="font-size: 23px;"><%= m.department.name %>: </span>
        <span class="mx-1" style="font-size: 23px;"><%= m.cast_crew_detail.name %></span>
      </div>
      <%end%>
    </div>
  <div>

</div>
