<div class="row mx-5 mb-5">
  <div class="w-100 my-3 "><h4 class="primary-dark"><%= language.lang %></h4></div>
  <% language.movies.each do |movie| %>
    <div class="card mx-3 col-lg-2 col-md-3 mb-5" style="width: 150px;max-height: 250px;">
      <%= link_to "/movies/#{movie.id}/" do %>
        <% if !movie.photos.first.nil? and !movie.photos.first.img_url.include? "imdb" %>
          <%= image_tag movie.photos.first.img_url, class: "card-img-top rounded" %>
        <% else %>
          <%= image_tag "https://fullygarage.com/wp-content/uploads/2018/02/Arjun-Reddy-Movie-Printed-Poster-scaled.jpg", class: "card-img-top rounded" %>
        <% end %>
      <% end %>
      <h5 class="text-center"><%= movie.title %></h5>
    </div>
  <%end%>
</div>
