<div id="search-res" class="pl-3 pb-3 overflow-auto position-absolute">
  <div class="pull-right"><button type="button" class="close-btn btn btn-sm btn-outline-danger">X</button></div>
  <h4>Movies</h4>
  <div class="d-flex flex-column">
    <%= link_to "Movie 1", "/movies/1/" %>
    <%= link_to "Movie 2", "/movies/1/" %>
    <%= link_to "Movie 3", "/movies/1/" %>
  <div>
  <h4>Artists</h4>
  <div class="d-flex flex-column">
    <%= link_to "Artist(Movie 1)", "/movies/1/" %>
    <%= link_to "Artist(Movie 2)", "/movies/1/" %>
    <%= link_to "Artist(Movie 3)", "/movies/1/" %>
  <div>
</div>
