<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @movie_crew.movie_id %>
</p>

<p>
  <strong>Cast crew detail:</strong>
  <%= @movie_crew.cast_crew_detail_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @movie_crew.department_id %>
</p>

<%= link_to 'Edit', edit_movie_crew_path(@movie_crew) %> |
<%= link_to 'Back', movie_crews_path %>
